tags/PreSCMSetup/JazzQAWSClient/src/main/resources/tipoRequisito.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="TipoRequisitoBusinessImplService" targetNamespace="http://tiporequisito.jazzqa.dlp.com.br/" xmlns:ns1="http://cxf.apache.org/bindings/xformat" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://tiporequisito.jazzqa.dlp.com.br/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://vo.framework.dlp.com.br" xmlns:ns0="http://io.java" xmlns:tns="http://vo.framework.dlp.com.br" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://io.java" />
<xsd:complexType name="IBaseVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="PK" nillable="true" type="ns0:Serializable" />
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://cxf.apache.org/arrays" xmlns:tns="http://cxf.apache.org/arrays" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:complexType name="ArrayOfAnyType">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="anyType" nillable="true" type="xsd:anyType" />
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://exception.framework.dlp.com.br" xmlns:tns="http://exception.framework.dlp.com.br" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:complexType name="BaseBusinessException">
<xsd:sequence>
<xsd:element minOccurs="0" name="baseBusinessExceptions" nillable="true" type="tns:ArrayOfBaseBusinessException" />
<xsd:element minOccurs="0" name="messageKey" nillable="true" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfBaseBusinessException">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="BaseBusinessException" nillable="true" type="tns:BaseBusinessException" />
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://dao.framework.dlp.com.br" xmlns:tns="http://dao.framework.dlp.com.br" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:complexType name="ArrayOfQueryOrder">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="QueryOrder" nillable="true" type="tns:QueryOrder" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="QueryOrder">
<xsd:sequence>
<xsd:element minOccurs="0" name="asc" type="xsd:boolean" />
<xsd:element minOccurs="0" name="campo" nillable="true" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java" xmlns:tns="http://io.java" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:complexType name="Serializable">
<xsd:sequence />
</xsd:complexType>
</xsd:schema>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://tiporequisito.jazzqa.dlp.com.br" xmlns:tns="http://tiporequisito.jazzqa.dlp.com.br" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:complexType name="TipoRequisitoVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="PK" nillable="true" type="xsd:long" />
<xsd:element minOccurs="0" name="descricao" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="dtInclusao" type="xsd:dateTime" />
<xsd:element minOccurs="0" name="nome" nillable="true" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ArrayOfTipoRequisitoVO">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="TipoRequisitoVO" nillable="true" type="tns:TipoRequisitoVO" />
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
<xsd:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://tiporequisito.jazzqa.dlp.com.br/" xmlns:ns0="http://tiporequisito.jazzqa.dlp.com.br" xmlns:ns1="http://cxf.apache.org/arrays" xmlns:ns2="http://vo.framework.dlp.com.br" xmlns:ns3="http://dao.framework.dlp.com.br" xmlns:ns4="http://io.java" xmlns:ns5="http://exception.framework.dlp.com.br" xmlns:tns="http://tiporequisito.jazzqa.dlp.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://tiporequisito.jazzqa.dlp.com.br" />
<xsd:import namespace="http://cxf.apache.org/arrays" />
<xsd:import namespace="http://vo.framework.dlp.com.br" />
<xsd:import namespace="http://dao.framework.dlp.com.br" />
<xsd:import namespace="http://io.java" />
<xsd:element name="findTipoRequisitoVO" type="tns:findTipoRequisitoVO" />
<xsd:complexType name="findTipoRequisitoVO">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" type="xsd:dateTime" />
<xsd:element minOccurs="0" name="arg1" type="xsd:dateTime" />
<xsd:element minOccurs="0" name="arg2" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="arg3" nillable="true" type="xsd:string" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="findTipoRequisitoVOResponse" type="tns:findTipoRequisitoVOResponse" />
<xsd:complexType name="findTipoRequisitoVOResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:ArrayOfTipoRequisitoVO" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="findAllPaginated" type="tns:findAllPaginated" />
<xsd:complexType name="findAllPaginated">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" nillable="true" type="xsd:int" />
<xsd:element minOccurs="0" name="arg1" nillable="true" type="xsd:int" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="findAllPaginatedResponse" type="tns:findAllPaginatedResponse" />
<xsd:complexType name="findAllPaginatedResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns1:ArrayOfAnyType" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="newVO" type="tns:newVO" />
<xsd:complexType name="newVO">
<xsd:sequence />
</xsd:complexType>
<xsd:element name="newVOResponse" type="tns:newVOResponse" />
<xsd:complexType name="newVOResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns2:IBaseVO" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="delete" type="tns:delete" />
<xsd:complexType name="delete">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" type="ns2:IBaseVO" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="deleteResponse" type="tns:deleteResponse" />
<xsd:complexType name="deleteResponse">
<xsd:sequence />
</xsd:complexType>
<xsd:element name="mySave" type="tns:mySave" />
<xsd:complexType name="mySave">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" type="ns0:TipoRequisitoVO" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="mySaveResponse" type="tns:mySaveResponse" />
<xsd:complexType name="mySaveResponse">
<xsd:sequence />
</xsd:complexType>
<xsd:element name="findTipoRequisitoVOOrdered" type="tns:findTipoRequisitoVOOrdered" />
<xsd:complexType name="findTipoRequisitoVOOrdered">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" type="xsd:dateTime" />
<xsd:element minOccurs="0" name="arg1" type="xsd:dateTime" />
<xsd:element minOccurs="0" name="arg2" nillable="true" type="xsd:string" />
<xsd:element minOccurs="0" name="arg3" nillable="true" type="xsd:string" />
<xsd:element name="arg4" nillable="true" type="ns3:ArrayOfQueryOrder" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="findTipoRequisitoVOOrderedResponse" type="tns:findTipoRequisitoVOOrderedResponse" />
<xsd:complexType name="findTipoRequisitoVOOrderedResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:ArrayOfTipoRequisitoVO" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="exists" type="tns:exists" />
<xsd:complexType name="exists">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" type="ns4:Serializable" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="existsResponse" type="tns:existsResponse" />
<xsd:complexType name="existsResponse">
<xsd:sequence>
<xsd:element name="return" type="xsd:boolean" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="findAll" type="tns:findAll" />
<xsd:complexType name="findAll">
<xsd:sequence />
</xsd:complexType>
<xsd:element name="findAllResponse" type="tns:findAllResponse" />
<xsd:complexType name="findAllResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:ArrayOfTipoRequisitoVO" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="findByPK" type="tns:findByPK" />
<xsd:complexType name="findByPK">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" type="ns4:Serializable" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="findByPKResponse" type="tns:findByPKResponse" />
<xsd:complexType name="findByPKResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns2:IBaseVO" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="update" type="tns:update" />
<xsd:complexType name="update">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" type="ns2:IBaseVO" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="updateResponse" type="tns:updateResponse" />
<xsd:complexType name="updateResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns2:IBaseVO" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="saveOrUpdate" type="tns:saveOrUpdate" />
<xsd:complexType name="saveOrUpdate">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" type="ns0:TipoRequisitoVO" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="saveOrUpdateResponse" type="tns:saveOrUpdateResponse" />
<xsd:complexType name="saveOrUpdateResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns0:TipoRequisitoVO" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="findByBeanPK" type="tns:findByBeanPK" />
<xsd:complexType name="findByBeanPK">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" type="ns2:IBaseVO" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="findByBeanPKResponse" type="tns:findByBeanPKResponse" />
<xsd:complexType name="findByBeanPKResponse">
<xsd:sequence>
<xsd:element minOccurs="0" name="return" type="ns2:IBaseVO" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="existsByBean" type="tns:existsByBean" />
<xsd:complexType name="existsByBean">
<xsd:sequence>
<xsd:element minOccurs="0" name="arg0" type="ns2:IBaseVO" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="existsByBeanResponse" type="tns:existsByBeanResponse" />
<xsd:complexType name="existsByBeanResponse">
<xsd:sequence>
<xsd:element name="return" type="xsd:boolean" />
</xsd:sequence>
</xsd:complexType>
<xsd:element name="BaseBusinessException" nillable="true" type="ns5:BaseBusinessException" />
</xsd:schema>
  </wsdl:types>
  <wsdl:message name="update">
    <wsdl:part element="tns:update" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="BaseBusinessException">
    <wsdl:part element="tns:BaseBusinessException" name="BaseBusinessException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByBeanPKResponse">
    <wsdl:part element="tns:findByBeanPKResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="existsByBean">
    <wsdl:part element="tns:existsByBean" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findTipoRequisitoVO">
    <wsdl:part element="tns:findTipoRequisitoVO" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="newVO">
    <wsdl:part element="tns:newVO" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByPKResponse">
    <wsdl:part element="tns:findByPKResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="mySaveResponse">
    <wsdl:part element="tns:mySaveResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="existsResponse">
    <wsdl:part element="tns:existsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="existsByBeanResponse">
    <wsdl:part element="tns:existsByBeanResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="mySave">
    <wsdl:part element="tns:mySave" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllPaginatedResponse">
    <wsdl:part element="tns:findAllPaginatedResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateResponse">
    <wsdl:part element="tns:updateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="delete">
    <wsdl:part element="tns:delete" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByPK">
    <wsdl:part element="tns:findByPK" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllResponse">
    <wsdl:part element="tns:findAllResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="newVOResponse">
    <wsdl:part element="tns:newVOResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAll">
    <wsdl:part element="tns:findAll" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveOrUpdate">
    <wsdl:part element="tns:saveOrUpdate" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="saveOrUpdateResponse">
    <wsdl:part element="tns:saveOrUpdateResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findAllPaginated">
    <wsdl:part element="tns:findAllPaginated" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findTipoRequisitoVOOrderedResponse">
    <wsdl:part element="tns:findTipoRequisitoVOOrderedResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="deleteResponse">
    <wsdl:part element="tns:deleteResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findTipoRequisitoVOResponse">
    <wsdl:part element="tns:findTipoRequisitoVOResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findByBeanPK">
    <wsdl:part element="tns:findByBeanPK" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findTipoRequisitoVOOrdered">
    <wsdl:part element="tns:findTipoRequisitoVOOrdered" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="exists">
    <wsdl:part element="tns:exists" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TipoRequisitoBusiness">
    <wsdl:operation name="findTipoRequisitoVO">
      <wsdl:input message="tns:findTipoRequisitoVO" name="findTipoRequisitoVO">
    </wsdl:input>
      <wsdl:output message="tns:findTipoRequisitoVOResponse" name="findTipoRequisitoVOResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllPaginated">
      <wsdl:input message="tns:findAllPaginated" name="findAllPaginated">
    </wsdl:input>
      <wsdl:output message="tns:findAllPaginatedResponse" name="findAllPaginatedResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="newVO">
      <wsdl:input message="tns:newVO" name="newVO">
    </wsdl:input>
      <wsdl:output message="tns:newVOResponse" name="newVOResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:delete" name="delete">
    </wsdl:input>
      <wsdl:output message="tns:deleteResponse" name="deleteResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BaseBusinessException" name="BaseBusinessException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="mySave">
      <wsdl:input message="tns:mySave" name="mySave">
    </wsdl:input>
      <wsdl:output message="tns:mySaveResponse" name="mySaveResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BaseBusinessException" name="BaseBusinessException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findTipoRequisitoVOOrdered">
      <wsdl:input message="tns:findTipoRequisitoVOOrdered" name="findTipoRequisitoVOOrdered">
    </wsdl:input>
      <wsdl:output message="tns:findTipoRequisitoVOOrderedResponse" name="findTipoRequisitoVOOrderedResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exists">
      <wsdl:input message="tns:exists" name="exists">
    </wsdl:input>
      <wsdl:output message="tns:existsResponse" name="existsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <wsdl:input message="tns:findAll" name="findAll">
    </wsdl:input>
      <wsdl:output message="tns:findAllResponse" name="findAllResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByPK">
      <wsdl:input message="tns:findByPK" name="findByPK">
    </wsdl:input>
      <wsdl:output message="tns:findByPKResponse" name="findByPKResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BaseBusinessException" name="BaseBusinessException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update">
      <wsdl:input message="tns:update" name="update">
    </wsdl:input>
      <wsdl:output message="tns:updateResponse" name="updateResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BaseBusinessException" name="BaseBusinessException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="saveOrUpdate">
      <wsdl:input message="tns:saveOrUpdate" name="saveOrUpdate">
    </wsdl:input>
      <wsdl:output message="tns:saveOrUpdateResponse" name="saveOrUpdateResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BaseBusinessException" name="BaseBusinessException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findByBeanPK">
      <wsdl:input message="tns:findByBeanPK" name="findByBeanPK">
    </wsdl:input>
      <wsdl:output message="tns:findByBeanPKResponse" name="findByBeanPKResponse">
    </wsdl:output>
      <wsdl:fault message="tns:BaseBusinessException" name="BaseBusinessException">
    </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="existsByBean">
      <wsdl:input message="tns:existsByBean" name="existsByBean">
    </wsdl:input>
      <wsdl:output message="tns:existsByBeanResponse" name="existsByBeanResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TipoRequisitoBusinessImplServiceSoapBinding" type="tns:TipoRequisitoBusiness">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="findTipoRequisitoVO">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findTipoRequisitoVO">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findTipoRequisitoVOResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllPaginated">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findAllPaginated">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findAllPaginatedResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="delete">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BaseBusinessException">
        <soap:fault name="BaseBusinessException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="newVO">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="newVO">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="newVOResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="mySave">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="mySave">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="mySaveResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BaseBusinessException">
        <soap:fault name="BaseBusinessException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findTipoRequisitoVOOrdered">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findTipoRequisitoVOOrdered">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findTipoRequisitoVOOrderedResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="exists">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="exists">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="existsResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAll">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findAll">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findAllResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findByPK">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findByPK">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findByPKResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BaseBusinessException">
        <soap:fault name="BaseBusinessException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="update">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="update">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BaseBusinessException">
        <soap:fault name="BaseBusinessException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="saveOrUpdate">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="saveOrUpdate">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="saveOrUpdateResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BaseBusinessException">
        <soap:fault name="BaseBusinessException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findByBeanPK">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="findByBeanPK">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findByBeanPKResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="BaseBusinessException">
        <soap:fault name="BaseBusinessException" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="existsByBean">
      <soap:operation soapAction="" style="document" />
      <wsdl:input name="existsByBean">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="existsByBeanResponse">
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TipoRequisitoBusinessImplService">
    <wsdl:port binding="tns:TipoRequisitoBusinessImplServiceSoapBinding" name="TipoRequisitoBusinessImplPort">
      <soap:address location="http://192.168.56.101/JazzQA.web/cxf/tipoRequisito" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>